[Desktop Entry]
Name=Thunar File Manager / Applications
Exec=thunar /usr/share/applications
Icon=Thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;FileTools;FileManager;

