


/*###################################*/
/*###################################*/
/*DONT EDIT WIDGETS.CSS BUT WIDGETS.JOS.CSS 
/*PLEASE RUN PROCESS.PY*/
/*###################################*/
/*###################################*/
/*version 2*/

/*generic bg color in cde is beige, but in dialogs everyting is green (for default palette Broica.dp, the menu color))*/
/*So I define all styles with and without string '_dialog' prepended and in process.py generate two*/
/*groups from that, one without string, one with 'dialog' prepended, where colors ..._gen are repalced by ..._menu*/
/*also set > * to green menu color. hmm how to do this betterly?*/

/*furthermore, _borderwidth is replaced by borderwidth for all bevels (default 1px). Maybe use this later for scaling*/

/*QUICK RECAP:*/
/*margin is space around the object, padding is space inside the object*/

* {
    -GtkTreeView-expander-size: 11;
}
window
{
	background-color: 	@bg_gen;
	color: 			@fg_gen;
}

/*count this as a 'popup dialog' so all green 'menu' color (in default color palette)*/
popover
{
	/*outset*/
	border-top-color:	@ts_menu;
	border-left-color:	@ts_menu;
	border-right-color:	@bs_menu;
	border-bottom-color:	@bs_menu;
	background-color:	@bg_menu;
	color:			@fg_menu;
	border-style: 		solid;
	border-width: 		2px;
	padding:		2px;
	padding:		2px 4px 2px 4px;
}

/*messagedialog background etc? no effect whatsoever*/
dialog > *,
popover > *,
messagedialog > *
{
	background-color: 	@bg_menu;
	color: 			@fg_menu;
}
/*the actual 'dialog' widget apparently sits inside a 'non=dialog' widget, so even if I style everyting */
/*that is dialog to green, it still gets a beige border. so cant set dialogs to green this way*/
/*So.. put all .backgrounds to green....*/
.background 
{
	background-color: 	@bg_menu;
	color: 			@fg_menu;
}
/*and then put the not(dialog) backgrounds back to beige again MUAHHAHAHAHA*/
/*omg this actually works hahahaha*/
/*but better would be to set green the stupid border but how?*/
_dialog *:not(popover):not(dialog).background
{
	background-color: 	@bg_gen;
	color: 			@fg_menu;
}
_dialog .background 
{
	background-color: 	@bg_gen;
	color: 			@fg_gen;
}

								/* normal text colour for labels */
								/*.label {*/
								 /*color: @text_normal;*/
								/*}*/


								/** {*/
								    /*inherit colors from parent*/
								    /*color: inherit;*/
								    /*background-color: inherit;*/
								/*}*/


/*????*/
_dialog .gtkstyle-fallback {
	background-color: @bg_gen;
	color: @fg_gen;
}
								/*_dialog .gtkstyle-fallback:active {*/
								    /*background-color: shade(@theme_bg_color, 0.9);*/
								    /*color: @theme_fg_color;*/
								/*}*/
								/*_dialog .gtkstyle-fallback:disabled {*/
								    /*background-color: shade(shade(@theme_bg_color, 0.95), 1.05);*/
								    /*color: mix(@theme_fg_color, @theme_bg_color, 0.5);*/
								/*}*/
_dialog .gtkstyle-fallback:selected {
	background-color: @sel_gen;
	color: @fg_gen;
}





_dialog *:disabled 
{
	color: 			@ts_gen;
	/*text shadow for disabled items*/
	/*text-shadow: 1px 1px 0px white ;*/
	/*dim disabled icons.*/
	  -gtk-icon-effect: dim;
}

/*for focus*/
/*i think cde does this orange line instead of dashed black (for default palette) */
_dialog * 
{
	outline-color: @bg_hi;
	outline-color: alpha(@bg_hi, 0.7);
	outline-style: solid;
	outline-offset: -3px;
	outline-width: 3px;
	-GtkProgressBar-min-horizontal-bar-height: 15;
	-GtkProgressBar-min-vertical-bar-width: 15;
}

_dialog button,
_dialog tab
{
	outline-offset: -6px;
}

_dialog menubar
{
	border-top-color:	@ts_menu;
	border-left-color:	@ts_menu;
	border-right-color:	@bs_menu;
	border-bottom-color:	@bs_menu;
	background-color:	@bg_menu;
	color:			@fg_menu;
	border-style: 		solid;
	border-width: 		_borderwidth;
	/*some extra space on the left of the menubar*/
	padding-left:		8px;
}
/*add some extra space to menuitem in the menubar, so the popped up menu will appear glued*/
/*to the inset menuitem like in cde. The menuitem and menuitem:hover need to have the same*/
/*geometry for the menutiem not to 'move' when going from normal to inset state*/
_dialog menubar > menuitem
{
	/*margin:			5px 5px 0px 5px;*/
	margin:			2px 2px 0px 2px;
	padding-bottom:		4px;
}
_dialog menubar > menuitem:hover
{
	/*margin:			5px 5px 0px 5px;*/
	margin:			2px 2px 0px 2px;
	padding-bottom:		4px;
}
/*both items in menubar and menus*/
_dialog menuitem
{
	/*these 'invisible' borders need to be here to prevent the menus from 'moving' when they*/
	/*change into hovered inset state*/
	border-top-color:	@bg_menu;
	border-left-color:	@bg_menu;
	border-right-color:	@bg_menu;
	border-bottom-color:	@bg_menu;
	background-color:	@bg_menu;
	border-style:		solid;
	padding: 		2px;
	color:			@fg_menu;
	border-width: 		_borderwidth;
}
_dialog menuitem:hover
{
	border-top-color:	@bs_menu;
	border-left-color:	@bs_menu;
	border-right-color:	@ts_menu;
	border-bottom-color:	@ts_menu;
	background-color:	@sel_menu;
	color:			@fg_menu;
	border-style: 		solid;
	padding: 		2px;
	border-width: 		_borderwidth;
}
/*the entire popup menu, border around it*/
_dialog menu
{
	/*in cde the hovered menuitem has some padding around it (ie empty space in the menu bar)*/
	/*and the menu sits directly below that, with no space. But here the menu pops up at the*/
	/*bottom of the menubar. So we need vertical offset. But that doesnt seem to work. */
	/*So for now, add extra bottom padding to the menuitem in the menubar, so the hovered menu reaches*/
	/*all the way down to the bottom of the menubar*/
	/*vertical-offset:	-2px;*/
	border-top-color:	@ts_menu;
	border-left-color:	@ts_menu;
	border-right-color:	@bs_menu;
	border-bottom-color:	@bs_menu;
	background-color:	@bs_menu;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		_borderwidth;
}

_dialog toolbar
{
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		3px;
}

_dialog statusbar 
{
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding: 		5px;
}

_dialog button
{
	/*outset*/
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		2px;
	padding:		2px 4px 2px 4px;
}
_dialog button:active,
_dialog button:checked
{
	/*inset*/
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
}
/*its not drawing in 3.16 */
_dialog check
{
	/*outset*/
	min-width:		14px;
	min-height:		14px;
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
}





_dialog check:checked
{
	/*inset*/
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
	background-color:	@sel_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
}
_dialog menuitem check
{
	/*outset*/
	border-top-color:	@ts_menu;
	border-left-color:	@ts_menu;
	border-right-color:	@bs_menu;
	border-bottom-color:	@bs_menu;
	background-color:	@bg_menu;
	color:			@fg_menu;
	border-style: 		solid;
	border-width: 		_borderwidth;
}
_dialog menuitem check:checked
{
	/*inset*/
	border-top-color:	@bs_menu;
	border-left-color:	@bs_menu;
	border-right-color:	@ts_menu;
	border-bottom-color:	@ts_menu;
	background-color:	@sel_menu;
	color:			@fg_menu;
	border-style: 		solid;
	border-width: 		_borderwidth;
}
/*radius + width -> circle*/
_dialog radio 
{
	border-radius: 		20px;
	min-width:		14px;
	min-height:		14px;
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
}
_dialog radio:checked
{
	border-radius: 		20px;
	min-width:		14px;
	min-height:		14px;
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_hi;
	/*get rid of the black dot, like in cde, only hi bg color:*/
	color:			@bg_hi;
	border-style: 		solid;
	border-width: 		_borderwidth;
}
_dialog menuitem radio 
{
	border-radius: 		20px;
	min-width:		6px;
	min-height:		6px;
	border-top-color:	@ts_menu;
	border-left-color:	@ts_menu;
	border-right-color:	@bs_menu;
	border-bottom-color:	@bs_menu;
	background-color:	@sel_menu;
	color:			@fg_menu;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		4px;
}
_dialog menuitem radio:checked
{
	border-radius: 		20px;
	min-width:		6px;
	min-height:		6px;
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_hi;
	/*get rid of the black dot, like in cde, only hi bg color:*/
	color:			@bg_hi;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		4px;
}

/*what is this???*/
/*padding gives edge around around gtk3-demo well there it is*/
/*and also around xfce terminal. BUT the actual borders (top right etc)*/
/*oh wait in the terminal it is drawn, but in gucharmap it is not drawn*/
/*other borderstyles are also not drawn (groove/inset)*/
/*but cde terminal has such a border, so keep, adding some of the old day clunkyness*/
_dialog stack 
{
	/*outset (not drawn for mysterious reason)*/
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	border-width:		1px;
	padding:		6px;
}
_dialog tab,
_dialog tab button
{
	/*inset*/
	border-top-color:	@sel_gen;
	border-left-color:	@sel_gen;
	border-right-color:	@sel_gen;
	border-bottom-color:	@sel_gen;
	background-color:	@sel_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		3px;
}
_dialog tab:checked,
_dialog tab:checked button
{
	/*outset*/
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
}



/*3.16 dialog .notebook code here (keep file lines synced)*/


































/*files in filedialog actual treeview*/
/*on a per line basis*/
_dialog treeview.view
{
	background-color:	@bg_text;
	color:			@fg_text;
}
/*hier*/
/*window > treeview.view */
/*hmm more or less random places*/
/*_dialog window > box*/
/*{*/
	/*outset*/
	/*border-top-color:	@ts_gen;*/
	/*border-left-color:	@ts_gen;*/
	/*border-right-color:	@bs_gen;*/
	/*border-bottom-color:	@bs_gen;*/
	/*border-style: 		solid;*/
	/*border-width: 		_borderwidth;*/
/*}*/
/*the 'time' 'size' 'name' buttons above that*/
_dialog treeview.view button 
{
	border-top-color:	@ts_text;
	border-left-color:	@ts_text;
	border-right-color:	@bs_text;
	border-bottom-color:	@bs_text;
	background-color:	@bg_text;
	color:			@fg_text;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		2px;
	padding:		2px 4px 2px 4px;
}
/*for borders this has effect on the calendar thing and ONE other view. the other ones stay flat*/
/*funnyly for the background color it DOES take effect*/
/*aha apparently the calandar is a single text entry thing or somehting. */
/*if this border is drawn eg each line of text in the file browser window gets a separate borderr. */
/*so no drawe border here*/
_dialog *.view
{
	/*inset*/
	/*border-top-color:	@bs_text;*/
	/*border-left-color:	@bs_text;*/
	/*border-right-color:	@ts_text;*/
	/*border-bottom-color:	@ts_text;*/
	background-color:	@bg_text;
	color:			@fg_text;
	border-style: 		solid;
	border-width:		0px;
}
/*so do for calendar separately. text col is wrong why?todo*/
						/*is set below using blabla text see _text*/
/*text color:*/
_dialog calendar,
/*border around the entire thing:*/
_dialog calendar.view
{
	/*inset*/
	border-top-color:	@bs_text;
	border-left-color:	@bs_text;
	border-right-color:	@ts_text;
	border-bottom-color:	@ts_text;
	background-color:	@bg_text;
	color:			@fg_text;
	border-style: 		solid;
	border-width:		_borderwidth;
}
/*special color for icon (file browsers and such)*/
/*=darker normal color instead of the blue (for default Broica.dp palette)*/
_dialog iconview.view {
	/*inset*/
	/*border-top-color:	@bs_gen;*/
	/*border-left-color:	@bs_gen;*/
	/*border-right-color:	@ts_gen;*/
	/*border-bottom-color:	@ts_gen;*/
	background-color:	@sel_gen;
	color:			@fg_gen;
	border-style: 		none;
}
_dialog iconview.view:selected,
_dialog iconview.view:selected:focus,
_dialog iconview.view:active
{
	background-color:	shade(@sel_gen, 0.90);
}

									/*_dialog treeview.view*/
									/*{*/
									/*inset*/
									/*border-top-color:	@bs_gen;*/
									/*border-left-color:	@bs_gen;*/
									/*border-right-color:	@ts_gen;*/
									/*border-bottom-color:	@ts_gen;*/
									/*background-color:	@bg_gen;*/
									/*color:			@fg_gen;*/
									/*border-style: 		solid;*/
									/*border-width:		2px;*/
									/*margin: 2px;*/
									/*}*/

									/*well*/
									/*textview,*/
									/*paned.view,*/
									/*.cell {*/
									    /*background: @bg_color_input;*/
									    /*color: @fg_color_input;*/
									/*}*/

/*lists and such*/
/*but PER CELL so how draw inset around ENTIRE view?*/
_dialog view 
{
	color: 			@fg_text;
	background-color: 	@bg_text;
}
_dialog view:selected
{
	color: 			@fg_text;
	background-color: 	@sel_text;
}



_dialog .sidebar,
_dialog .sidebar view,
_dialog .sidebar > view,
_dialog .sidebar scrolledwindow 
{
	color: 			@fg_text;
	background-color: 	@bg_gen;
	/*color: mix(@theme_fg_color, @theme_bg_color, 0.1);*/
}
_dialog sidebar 
{
	color: 			@fg_text;
	background-color: 	@sel_gen;
}
/*none of these seems to do anything*/
_dialog sidebar:selected,
_dialog sidebar:active,
_dialog sidebar row:selected, 
_dialog sidebar row:selected label
{
	color: 			@fg_text;
	background-color: 	@bs_gen;
}




/*what is this?... look later. from macOS-sierra theme*/
_dialog .primary-toolbar combobox entry,
_dialog .primary-toolbar combobox entry:active,
_dialog .primary-toolbar combobox entry:focus,
_dialog .primary-toolbar combobox entry:disabled,
_dialog  combobox entry,
_dialog  combobox entry:active,
_dialog  combobox entry:focus,
_dialog  combobox entry:disabled {
    border-width: 1px 0 1px 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

_dialog .primary-toolbar combobox entry button,
_dialog .primary-toolbar combobox entry button:hover,
_dialog .primary-toolbar combobox entry button:active,
_dialog .primary-toolbar combobox entry button:disabled,
_dialog  combobox button,
_dialog  combobox button:hover,
_dialog  combobox button:active,
_dialog  combobox button:disabled {
    margin-bottom: 1px;
    border-width: 1px 1px 1px 1px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/*yes, in cde these are really green hahahaha*/
_dialog combobox button
{
	border-top-color:	@ts_menu;
	border-left-color:	@ts_menu;
	border-right-color:	@bs_menu;
	border-bottom-color:	@bs_menu;
	background-color:	@bg_menu;
	color:			@fg_menu;
}

/*woo this actually works. */
/*The beam only must appear on the combobux button, not in the menus under that*/
/*(does if we use 'combobux arrow'*/
combobox button arrow {
	/*outset*/
	min-width:16px;
	min-height:16px;
	/*-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");*/
	/*-gtk-icon-source: url("../img/arrowup.png");*/
	background-image:url("../img/comboboxbeam.png");
	background-repeat: no-repeat;
	background-position: center;
	/*background-blend-mode: overlay;*/
}


/*list of widgets, not list of text items if that makes sense*/
_dialog list {
	background-color: shade(@bg_gen, 0.95);
	color: @fg_gen;
}
_dialog list-row:selected {
	background-color: @sel_gen;
	color: @fg_gen;
}




/*combobox entry, text line thing, spinner number field, search box etc*/
/*all single line I think, so we can put a border inset around*/
/*todo only for spinbutton text has wrong color...*/
_dialog spinbutton
{
	color:		@fg_text;
}

_dialog entry 
{
	/*inset*/
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
	background-color:	@bg_text;
	color:			@fg_text;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		4px;
}
/*selected text entry.selected.focus.selection:focussed:selection selected focussed::.selectified.focus.fuckus*/
/*this is doing nothing wtf...*/
_dialog entry selection,
_dialog entry .selection,
_dialog entry.selection,
_dialog entry selected,
_dialog entry:selected,
_dialog entry:selected:focus
{
	background-color:	@sel_text;
}
/*and this???*/
/*hmm I dont know*/
/*the 'placeholder'text (filled in automatically) appears dark grey. Not white. WHY*/
_dialog entry > *
{
	color:			@fg_text;
}


/*these stacked windows of items like in synaptic*/
_dialog expander arrow {
	min-width: 16px;
	min-height: 16px;
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}
_dialog expander arrow:dir(rtl) {
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}
_dialog expander arrow:checked {
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}


/* Firefox adress bar */
_dialog label.separator {
  color: @bs_text;
}
/*_text*/
/*jolly thnx man macOS-sierra*/
_dialog .view text:selected:focus,
_dialog iconview text:selected:focus,
_dialog textview text:selected:focus,
_dialog .view text:selected,
_dialog iconview text:selected,
_dialog textview text:selected, 
_dialog .view text selection:focus, 
_dialog iconview text selection:focus, 
_dialog .view text selection, 
_dialog iconview text selection,
_dialog textview text selection:focus,
_dialog textview text selection, 
_dialog flowbox flowboxchild:selected, 
_dialog spinbutton:not(.vertical) selection:focus, 
_dialog spinbutton:not(.vertical) selection,
_dialog .view:selected:focus,
_dialog iconview:selected:focus,
_dialog .view:selected,
_dialog iconview:selected,
_dialog entry selection:focus,
_dialog entry selection,
_dialog modelbutton.flat:selected,
_dialog popover.background checkbutton:selected,
_dialog popover.background radiobutton:selected,
_dialog .menuitem.button.flat:selected,
_dialog treeview.view:selected:focus,
_dialog treeview.view:selected,
_dialog row:selected,
_dialog calendar:selected,
semicolondummy
{
	/*its inverted like in the style of olld crt green monitors. But this must only for text to be*/
	background-color: @fg_text;
	color: @bg_text;
}

/*_dialog treeview.view > **/
/*{*/
	/*background-color: 	#ff0000;*/
/*}*/


/*was zum foik ees dees*/
/*in file dialog the lines of wheres the files are*/
_dialog .cell
{
	border-width: 0;
	border-radius: 0;
	background-color: @bg_text;
	color: @fg_text;
	/*this needs to be here for the lines not to overlap:*/
	padding:0px;
}
_dialog .cell:selected,
_dialog .cell:selected:focus {
	background-color: @sel_text;
	color: @fg_text;
}


/*this row is not inside text thingies but .. yes where? normal bg*/
/*in file dialog he side pane onthe left with 'places'*/
_dialog row { 
	padding: 4px;
}
_dialog row:selected,
_dialog row:selected:hover,
_dialog row:selected:focus 
{
	border-style: none;
	border-color: @bs_gen;
	background-color: @sel_gen;
	color: @fg_gen;
}


/*both h and v*/
_dialog scrollbar slider 
{
/*this seems to determine the width of the scrollbar */
/*experimentally verified. I hope the laws of nature dont change the next release of gtk*/
/*this is width WITHOUT border The cde button image is width 11. slider must */
/*be same size so inside width of slider must be 9*/
	min-width: 		9px;
	min-height: 		9px;
	border-top:		_borderwidth solid @ts_gen;
	border-left:		_borderwidth solid @ts_gen;
	border-right:		_borderwidth solid @bs_gen;
	border-bottom:		_borderwidth solid @bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
}
_dialog scrollbar.vertical trough 
{
	/*width of the inside=width of cde button image*/
	min-width:		11px;
	min-height:		11px;
	/*inset*/
	border-top:		0px solid @bs_gen;
	border-bottom:		0px solid @bs_gen;
	border-left:		_borderwidth solid @bs_gen;
	border-right:		_borderwidth solid @ts_gen;
	background-color:	@sel_gen;
	color:			@fg_gen;
}

_dialog scrollbar.vertical button.up 
{
	border-left: 		_borderwidth solid @bs_gen;
	border-top: 		_borderwidth solid @bs_gen;
	border-right:		_borderwidth solid @ts_gen;
	border-bottom: 		0px solid @sel_gen;
	margin:			0px 0px 0px 0px;
	/*the one line format doesnt work??*/
	padding-left:   	0px;
	padding-right:   	0px;
	padding-top:   		0px;
	padding-bottom:   	0px;
	min-height: 		11px;
	min-width: 		11px;
	-gtk-icon-source: url("../img/arrowup.png");
	/*does this actually work : NO*/
	/*-gtk-icon-source: -gtk-recolor(url('../img/arrowup.png'), success blue, error rgb(255,0,0));*/
	/*-gtk-icon-source: -gtk-recolor(url('../img/arrowup.png'));*/
}

_dialog .scrollbar.vertical .button.up:active
{
-gtk-icon-source: url("../img/arrowuppressed.png");
}



_dialog scrollbar.vertical button.down 
{
	border-left: 		_borderwidth solid @bs_gen;
	border-right:		_borderwidth solid @ts_gen;
	border-top: 		0px solid @bs_gen;
	border-bottom: 		_borderwidth solid @ts_gen;
	margin:			0px 0px 0px 0px;
	/*the one line format doesnt work??*/
	padding-left:   	0px;
	padding-right:   	0px;
	padding-top:   		0px;
	padding-bottom:   	0px;
	min-height: 		11px;
	min-width: 		11px;
	-gtk-icon-source: url("../img/arrowdown.png");
}





_dialog scrollbar.vertical button.down:active
{
-gtk-icon-source: url("../img/arrowdownpressed.png");
}



_dialog scrollbar.horizontal trough 
{
	/*width of the inside=width of cde button image*/
	min-width:		11px;
	min-height:		11px;
	/*inset*/
	border-top:		_borderwidth solid @bs_gen;
	border-bottom:		_borderwidth solid @ts_gen;
	border-left:		0px solid @bs_gen;
	border-right:		0px solid @ts_gen;
	background-color:	@sel_gen;
	color:			@fg_gen;
}

_dialog scrollbar.horizontal button.down
{
	border-left: 		0px solid @ts_gen;
	border-top: 		_borderwidth solid @bs_gen;
	border-right:		_borderwidth solid @ts_gen;
	border-bottom: 		_borderwidth solid @ts_gen;
	margin:			0px 0px 0px 0px;
	/*the one line format doesnt work??*/
	padding-left:   	0px;
	padding-right:   	0px;
	padding-top:   		0px;
	padding-bottom:   	0px;
	min-height: 		11px;
	min-width: 		11px;
	-gtk-icon-source: url("../img/arrowright.png");
}




_dialog scrollbar.horizontal button.down:active
{
-gtk-icon-source: url("../img/arrowrightpressed.png");
}




_dialog scrollbar.horizontal button.up
{
	border-left: 		_borderwidth solid @bs_gen;
	border-top: 		_borderwidth solid @bs_gen;
	border-right:		0px solid @ts_gen;
	border-bottom: 		_borderwidth solid @ts_gen;
	margin:			0px 0px 0px 0px;
	/*the one line format doesnt work??*/
	padding-left:   	0px;
	padding-right:   	0px;
	padding-top:   		0px;
	padding-bottom:   	0px;
	min-height: 		11px;
	min-width: 		11px;
	-gtk-icon-source: url("../img/arrowleft.png");
}




_dialog scrollbar.horizontal button.up:active
{
	-gtk-icon-source: url("../img/arrowleftpressed.png");
}




/*for firefox? vrom macos theme*/
_dialog XXscrollbar button
{
	background-color: 	@bg_gen;
	background-color: 	@sel_gen;
}



/*the movable things like scrollbar without scroll area*/
_dialog scale trough 
{
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
	background-color:	@sel_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
}
_dialog scale.horizontal trough
{
	/*prevent slider from sliding across the edge*/
	padding-left:		15px;
	padding-right:		15px;
}
_dialog scale.vertical trough
{
	/*prevent slider from sliding across the edge*/
	padding-top:		15px;
	padding-bottom:		15px;
}
_dialog scale slider 
{
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
}
/*set the sliders to elongated rectangle ,similar to cde (default is square)*/
/*slider determines the width of the scale (height for horizontal)*/
/*NOTE transparent png here seems to be rendered differently from scrollbar button:*/
/*opacity is 48 there. Here the shadow color is renderend lighter*/
/*so make less transparent*/
_dialog scale.horizontal slider
{
	min-width:		28px;
	min-height: 		9px;
	background-image:url("../img/sliderseparatorvertical.png");
	background-repeat: no-repeat;
	background-position: center;
	/*aha, here overlay DOES work, unlike in scrollbar. So use normal*/
	/*that seems to be closest to the shadow/hilight colors calculated in cde/motif*/
	/*background-blend-mode: overlay;*/
}
_dialog scale.vertical slider
{
	min-height:		28px;
	min-width: 		9px;
	background-image:url("../img/sliderseparatorhorizontal.png");
	background-repeat: no-repeat;
	background-position: center;
	/*background-blend-mode: overlay;*/
	/*-gtk-icon-source: url("../img/sliderseparatorvertical.png");*/
}

/*hm marks are not showing*/
_dialog scale.mark
{
	background-color:	@bs_gen;
	color:			@bs_gen;
	min-height:		4px;
	min-width:_		borderwidth;
}

_dialog scale.horizontal mark 
{
	background-color: 	@bs_gen;
	min-height:		4px;
	min-width:_		borderwidth;
}


_dialog scale.vertical mark 
{
	background-color: 	@bs_gen;
	min-height:_borderwidth;
	min-width:4px;
}

_dialog tooltip 
{
	background-color: 	@sel_gen;
	border-color: 		@bg_hi;
	border-style: 		solid;
	border-width: 		2px; 
}

/*what is this supposed to be. Fake window title?? I have a window manager*/
/*this sucks*/
_dialog headerbar 
{
	border-top-color:	@ts_hi;
	border-left-color:	@ts_hi;
	border-right-color:	@bs_hi;
	border-bottom-color:	@bs_hi;
	background-color:	@bg_hi;
	color:			@fg_hi;
	border-style: 		solid;
	border-width: 		_borderwidth;
	border-width: 		2px;
	padding:		2px;
}
_dialog .header-bar *,
_dialog headerbar button
{
	border-width:		0px;
	background-color:	@bg_hi;
	color:			@fg_hi;
}
/*some of the bg_gen show through so*/
_dialog headerbar *,
_dialog headerbar *:active,
_dialog headerbar *:checked,
_dialog headerbar *:hover
{
	background-color:	@bg_hi;
	color:			@fg_hi;
}


/*hmmm thnx macos sierra*/
menu menuitem arrow,
.menu menuitem arrow,
_dialog .context-menu .menuitem arrow 
{ 
	 min-height: 16px;
	 min-width: 16px;
}
/* now set the appropriate icons */
_dialog menu menuitem arrow:dir(ltr),
_dialog .menu menuitem arrow:dir(ltr),
_dialog .context-menu menuitem arrow:dir(ltr) 
{
	 /*-gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); */
	-gtk-icon-source: url("../img/menuarrowright.png");
	 margin-left: 10px; 
}





_dialog menu menuitem:hover arrow:dir(ltr),
_dialog .menu menuitem:hover arrow:dir(ltr),
_dialog .context-menu menuitem:hover arrow:dir(ltr)
{
	 /*-gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); */
	-gtk-icon-source: url("../img/menuarrowrightpressed.png");
	 margin-left: 10px; 
}
_dialog menu menuitem:hover arrow:dir(rtl),
_dialog .menu menuitem:hover arrow:dir(rtl),
_dialog .context-menu menuitem:hover arrow:dir(rtl) 
{
	 /*-gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); */
	-gtk-icon-source: url("../img/menuarrowleftpressed.png");
	/*-gtk-icon-source: url("../img/arrowright.png");*/
	 margin-left: 10px; 
}


/*small progressbar in entry behind text??*/
/*did pop up in totally random places (ie button and scrollbarbutton of oppup message)*/
_dialog entry progress
{
	border-width: 1;
	border-color:#ffffff;
	box-shadow: none;
	background-color: @bg_gen;
	color: @fg_gen;
}


/*special case inside text area. but how to do this generally? cant enter every special case*/
_dialog treeview.view check
{
	border-top-color:	@bs_text;
	border-left-color:	@bs_text;
	border-right-color:	@ts_text;
	border-bottom-color:	@ts_text;
	color:			@fg_text;
	border-style: 		solid;
	border-width: 		_borderwidth;
	background-color:	@sel_text;
}
/*little progressbar in tranmission ie a prog bar inside a text line*/
_dialog treeview.view.progressbar
{
/*inset*/
	border-top-color:	@bs_text;
	border-left-color:	@bs_text;
	border-right-color:	@ts_text;
	border-bottom-color:	@ts_text;
	border-style: 		solid;
	border-width: 		_borderwidth;
	background-color:	@sel_text;
	color:			@fg_text;
}
							/*hmm these 2 dont seem to do anything*/
							/*_dialog treeview.view.progressbar trough */
							/*{*/
								/*inset*/
								/*border-top-color:	@bs_text;*/
								/*border-left-color:	@bs_text;*/
								/*border-right-color:	@ts_text;*/
								/*border-bottom-color:	@ts_text;*/
								/*border-style: 		solid;*/
								/*border-width: 		_borderwidth;*/
								/*background-color:	@bg_gen;*/
							/*}*/
							/*_dialog treeview.view.progressbar progress*/
							/*{*/
								/*inset*/
								/*border-top-color:	@bs_text;*/
								/*border-left-color:	@bs_text;*/
								/*border-right-color:	@ts_text;*/
								/*border-bottom-color:	@ts_text;*/
								/*border-style: 		solid;*/
								/*border-width: 		_borderwidth;*/
								/*background-color:	@bg_gen;*/
							/*}*/



_dialog progressbar
{
/*inset*/
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	background-color:	@bg_gen;
	color:			@fg_gen;
}
/*.progressbar .trough */
/*_dialog GtkProgressBar.trough */
/*ok*/
_dialog progressbar trough 
{
	/*inset*/
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	background-color:	@sel_gen;
}
/*???what is this for:*/
/*.progressbar .progress*/
/*_dialog GtkProgressBar.progress*/
_dialog progressbar progress
{
	/*inset*/
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	background-color:	@bg_gen;
}



_dialog separator.vertical {
        margin: 0px;
        padding: 0px;
        border-left: _borderwidth solid @bs_gen;
        border-right: _borderwidth solid @ts_gen;
}




_dialog separator.horizontal {
        margin: 0px;
        padding: 0px;
        border-top: _borderwidth solid @bs_gen;
        border-bottom: _borderwidth solid @ts_gen;
}

/*this apparently is a frame around the actual frame. hahaha ??*/
/*_dialog frame */
/*{*/
/*inset*/
/*border-top-color:	@bs_gen;*/
/*border-left-color:	@bs_gen;*/
/*border-right-color:	@ts_gen;*/
/*border-bottom-color:	@ts_gen;*/
/*outset*/
/*border-top-color:	@ts_gen;*/
/*border-left-color:	@ts_gen;*/
/*border-right-color:	@bs_gen;*/
/*border-bottom-color:	@bs_gen;*/
/*background-color:	@bg_gen;*/
/*color:			@fg_gen;*/
/*border-style: 		solid;*/
/*border-width: 		_borderwidth;*/
/*padding:		4px;*/

/*}*/

/*movable separator between widgets eg like between the gimp tools*/
_dialog paned > separator {
	border-width: _borderwidth;
	/*this sucks how do i set the shade and hilight color manually?*/
	border-color: shade(@bg_gen,0.80);
	border-style: groove;
}


_dialog frame > border {
	border-width: _borderwidth;
	border-style: solid;
	/*this sucks how do i set the shade and hilight color manually?*/
	border-color: shade(@bg_gen,0.80);
	border-radius: 0;
	box-shadow: none;
}

_dialog frame.flat > border,
_dialog frame > border.flat,
_dialog statusbar frame > border {
	border: none;
}



/*was zum fook is this?*/
/*make id red for now so maybe find out some nice day*/
_dialog scrolledwindow frame {
	border-width: _borderwidth;
	border-style: solid;
	border-color: shade(@bg_gen,0.80);
	/*border-color: #ff0000;*/
}
 /*avoid double borders when a viewport is*/
 /*packed into a scrolledwindow */
scrolledwindow viewport frame {
	border-style: none;
}
/*THIS IS IT THE FRECKING FRAME AROUND LISTS AND SUCH!*/
/*see also .view*/
_dialog scrolledwindow {
	border-style:		solid;
	border-top-width: 	_borderwidth;
	border-bottom-width: 	_borderwidth;
	border-left-width: 	_borderwidth;
	border-right-width: 	_borderwidth;
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
}





/*scrolledwindow treeview {*/
    /*background: @bg_color_input;*/
/*}*/

/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/


/*what is this*/
_dialog viewport 
{
	/*outset*/
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	/*inset*/
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		4px;
}

/*kind of clock like wait animation*/
_dialog spinner 
{
	color: 			@fg_gen;
}
_dialog spinner:checked 
{
	color: 			@fg_gen;
}

/*small thingsies like tooltip but with buttons etc inside*/
/*these ar kind of dialogs*/
/*_dialog popover,*/
/*_dialog popover.background */
/*_dialog popover **/
/*{*/
	/*border-color: 		@bs_gen;*/
	/*border-style:		solid;*/
	/*border-width:		_borderwidth;*/
	/*background-color:	#ff0000;*/
/*}*/
/*_dialog popover separator */
/*{*/
	/*margin: 		4px;*/
	/*min-width:		_borderwidth;*/
	/*min-height:		_borderwidth;*/
	/*background-color: 	@bs_gen;*/
/*} */
/*button inside the text cloud like in comic books (god why)*/
/*modelbutton,*/
/*modelbutton.background,*/
/*modelbutton.flat*/
/*{*/
	/*background-color:	#ff0000;*/
/*}*/


/*what?*/
_dialog infobar 
{
	/*outset*/
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		4px;
}

_dialog stacksidebar viewport 
{
	border-width:		_borderwidth; 
	border-style:		solid;
	border-color:		@ts_gen;
	background-color:	@bg_gen;
}
_dialog stacksidebar row 
{
	padding: 		3px;
	background-color: 	@bg_gen;
}
_dialog stacksidebar row:selected 
{
	color: 			@fg_gen;
	background-color: 	@sel_gen;
}
_dialog stacksidebar row:selected label 
{
	color: 			@fg_gen;
}


_dialog assistant sidebar label 
{
	padding: 		4px 2px 4px 2px;
}
_dialog assistant sidebar label.highlight 
{
	background-color: 	@sel_gen; 
	color:			@fg_gen;
}
_dialog assistant sidebar 
{
	border-width:		_borderwidth;
	border-style:		solid;
	border-color:		@bs_gen;
}






/*an on-off switch*/
/*.switch*/
/*_dialog GtkSwitch*/
_dialog switch
{
	/*outset*/
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		0px;
}
/*.switch .slider*/
/*text not visible*/
_dialog switch slider
{
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@sel_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		0px;
}


/*this dosnt work at all todo*/
/*****************
 * color chooser *
 *****************/
_dialog colorswatch,
_dialog colorswatch:selected {
	border-width: _borderwidth;
	border-style: solid;
	border-color: alpha(black, 0.1);
	background-color: transparent;
	background-clip: border-box;
}

_dialog colorswatch:hover,
_dialog colorswatch:selected:hover {
    border-color: alpha(black, 0.3);
}

_dialog colorswatch.color-dark:hover {
}

_dialog colorswatch.color-light:hover {
}

_dialog colorswatch.color-light:selected:hover,
_dialog colorswatch.color-dark:selected:hover {
    background-image: none;
}

/*_dialog colorswatch left,*/
/*_dialog colorswatch:first-child {*/
    /*border-top-left-radius: 2px;*/
    /*border-bottom-left-radius: 2px;*/
/*}*/

/*_dialog colorswatch right,*/
/*_dialog colorswatch:last-child {*/
    /*border-top-right-radius: 2px;*/
    /*border-bottom-right-radius: 2px;*/
/*}*/

/*_dialog colorswatch:only-child {*/
    /*border-radius: 4px;*/
/*}*/

/*_dialog colorswatch top {*/
    /*border-top-left-radius: 2px;*/
    /*border-top-right-radius: 2px;*/
/*}*/

/*_dialog colorswatch bottom {*/
    /*border-bottom-left-radius: 2px;*/
    /*border-bottom-right-radius: 2px;*/
/*}*/

_dialog colorchooser #add-color-button {
    background-clip: padding-box;
    border-color: alpha(black, 0.1);
    background-color: shade(@bg_gen, 0.95);
    color: @fg_gen;
}

_dialog colorchooser #add-color-button:hover {
    border-color: alpha(black, 0.3);
    background-color: shade(@bg_gen, 0.90);
    color: @fg_gen;
}







/*.window-frame, .window-frame:backdrop {*/
 /*box-shadow: 0 0 0 black;*/
 /*border-style: none;*/
 /*margin: 0;*/
 /*border-radius: 0;*/
/*}*/

/*.titlebar {*/
 /*border-radius: 0;*/
/*}*/

/*.window-frame.csd.popup {*/
  /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.13);*/
/*}*/

/*.header-bar {*/
  /*background-image: none;*/
  /*box-shadow: none;*/
/*}*/




/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/
/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/
/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/
