


/*###################################*/
/*###################################*/
/*DONT EDIT WIDGETS.CSS BUT WIDGETS.JOS.CSS */
/*PLEASE RUN PROCESS.PY*/
/*###################################*/
/*###################################*/
/*version 2*/

/*generic bg color in cde is beige, but in dialogs everyting is green (for default palette Broica.dp, the menu color))*/
/*So I define all styles with and without string '_dialog' prepended and in process.py generate two*/
/*groups from that, one without string, one with 'dialog' prepended, where colors ..._gen are repalced by ..._menu*/
/*also set > * to green menu color. hmm how to do this betterly?*/

/*furthermore, _borderwidth is replaced by borderwidth for all bevels (default 1px). Maybe use this later for scaling*/

/*QUICK RECAP:*/
/*margin is space around the object, padding is space inside the object*/

/*__all */
* {
	-GtkTreeView-expander-size: 11;
}
/*__window */
window
{
	background-color: 	@bg_gen;
	color: 			@fg_gen;
}

/*count this as a 'popup dialog' so all green 'menu' color (in default color palette)*/
/*__popover */
popover
{
	/*outset*/
	border-top-color:	@ts_menu;
	border-left-color:	@ts_menu;
	border-right-color:	@bs_menu;
	border-bottom-color:	@bs_menu;
	background-color:	@bg_menu;
	color:			@fg_menu;
	border-style: 		solid;
	border-width: 		2px;
	padding:		2px;
	padding:		2px 4px 2px 4px;
}

/*__messagedialog */
/*messagedialog background etc? no effect whatsoever*/
dialog > *,
popover > *,
messagedialog > *
{
	background-color: 	@bg_menu;
	color: 			@fg_menu;
}
/*the actual 'dialog' widget apparently sits inside a 'non=dialog' widget, so even if I style everyting */
/*that is dialog to green, it still gets a beige border. so cant set dialogs to green this way*/
/*So.. put all .backgrounds to green....*/
.background 
{
	background-color: 	@bg_menu;
	color: 			@fg_menu;
}
/*and then put the not(dialog) backgrounds back to beige again MUAHHAHAHAHA*/
/*omg this actually works hahahaha*/
/*but better would be to set green the stupid border but how?*/
_dialog *:not(popover):not(dialog).background
{
	background-color: 	@bg_gen;
	color: 			@fg_gen;
}
_dialog .background 
{
	background-color: 	@bg_gen;
	color: 			@fg_gen;
}

								/* normal text colour for labels */
								/*.label {*/
								 /*color: @text_normal;*/
								/*}*/


								/** {*/
								    /*inherit colors from parent*/
								    /*color: inherit;*/
								    /*background-color: inherit;*/
								/*}*/


/*????*/
_dialog .gtkstyle-fallback {
	background-color: @bg_gen;
	color: @fg_gen;
}
								/*_dialog .gtkstyle-fallback:active {*/
								    /*background-color: shade(@theme_bg_color, 0.9);*/
								    /*color: @theme_fg_color;*/
								/*}*/
								/*_dialog .gtkstyle-fallback:disabled {*/
								    /*background-color: shade(shade(@theme_bg_color, 0.95), 1.05);*/
								    /*color: mix(@theme_fg_color, @theme_bg_color, 0.5);*/
								/*}*/
_dialog .gtkstyle-fallback:selected {
	background-color: @sel_gen;
	color: @fg_gen;
}





_dialog *:disabled 
{
	color: 			@ts_gen;
	/*text shadow for disabled items*/
	/*text-shadow: 1px 1px 0px white ;*/
	/*dim disabled icons.*/
	  -gtk-icon-effect: dim;
}

/*for focus*/
/*i think cde does this orange line instead of dashed black (for default palette) */
_dialog * 
{
	outline-color: @bg_hi;
	outline-color: alpha(@bg_hi, 0.7);
	outline-style: solid;
	outline-offset: 2px;
	outline-width: 1px;
	/*depreciated but how to set it then?*/
	/*-GtkProgressBar-min-horizontal-bar-height: 15;*/
	/*-GtkProgressBar-min-vertical-bar-width: 15;*/
}

_dialog button,
_dialog tab
{
	outline-offset: 2px;
}

_dialog menubar
{
	border-top-color:	@ts_menu;
	border-left-color:	@ts_menu;
	border-right-color:	@bs_menu;
	border-bottom-color:	@bs_menu;
	background-color:	@bg_menu;
	color:			@fg_menu;
	border-style: 		solid;
	border-width: 		_borderwidth;
	/*some extra space on the left of the menubar*/
	padding-left:		8px;
}
/*add some extra space to menuitem in the menubar, so the popped up menu will appear glued*/
/*to the inset menuitem like in cde. The menuitem and menuitem:hover need to have the same*/
/*geometry for the menutiem not to 'move' when going from normal to inset state*/
_dialog menubar > menuitem
{
	/*margin:			5px 5px 0px 5px;*/
	margin:			2px 2px 0px 2px;
	padding-bottom:		4px;
}
_dialog menubar > menuitem:hover
{
	/*margin:			5px 5px 0px 5px;*/
	margin:			2px 2px 0px 2px;
	padding-bottom:		4px;
}
/*both items in menubar and menus*/
_dialog menuitem
{
	/*these 'invisible' borders need to be here to prevent the menus from 'moving' when they*/
	/*change into hovered inset state*/
	border-top-color:	@bg_menu;
	border-left-color:	@bg_menu;
	border-right-color:	@bg_menu;
	border-bottom-color:	@bg_menu;
	background-color:	@bg_menu;
	border-style:		solid;
	padding: 		2px;
	color:			@fg_menu;
	border-width: 		_borderwidth;
}
_dialog menuitem:hover
{
	border-top-color:	@bs_menu;
	border-left-color:	@bs_menu;
	border-right-color:	@ts_menu;
	border-bottom-color:	@ts_menu;
	background-color:	@sel_menu;
	color:			@fg_menu;
	border-style: 		solid;
	padding: 		2px;
	border-width: 		_borderwidth;
}
/*the entire popup menu, border around it*/
_dialog menu
{
	/*in cde the hovered menuitem has some padding around it (ie empty space in the menu bar)*/
	/*and the menu sits directly below that, with no space. But here the menu pops up at the*/
	/*bottom of the menubar. So we need vertical offset. But that doesnt seem to work. */
	/*So for now, add extra bottom padding to the menuitem in the menubar, so the hovered menu reaches*/
	/*all the way down to the bottom of the menubar*/
	/*vertical-offset:	-2px;*/
	border-top-color:	@ts_menu;
	border-left-color:	@ts_menu;
	border-right-color:	@bs_menu;
	border-bottom-color:	@bs_menu;
	background-color:	@bs_menu;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		_borderwidth;
}

_dialog toolbar
{
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		3px;
}

_dialog statusbar 
{
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding: 		5px;
}

_dialog button
{
	/*outset*/
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		2px;
	padding:		2px 4px 2px 4px;
/*test*/
	/*border-width:4px;*/
	/*border-image: url("../img2/5/frameStandAlone.png") 4 4 4 4;*/
}
_dialog button:active,
_dialog button:checked
{
	/*inset*/
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
	background-color:	@sel_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
}
/*its not drawing in 3.16 */
_dialog check
{
	/*outset*/
	min-width:		14px;
	min-height:		14px;
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
}





_dialog check:checked
{
	/*inset*/
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
	background-color:	@sel_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
}
_dialog menuitem check
{
	/*outset*/
	border-top-color:	@ts_menu;
	border-left-color:	@ts_menu;
	border-right-color:	@bs_menu;
	border-bottom-color:	@bs_menu;
	background-color:	@bg_menu;
	color:			@fg_menu;
	border-style: 		solid;
	border-width: 		_borderwidth;
}
_dialog menuitem check:checked
{
	/*inset*/
	border-top-color:	@bs_menu;
	border-left-color:	@bs_menu;
	border-right-color:	@ts_menu;
	border-bottom-color:	@ts_menu;
	background-color:	@sel_menu;
	color:			@fg_menu;
	border-style: 		solid;
	border-width: 		_borderwidth;
}
/*radius + width -> circle*/
_dialog radio 
{
	min-width:		14px;
	min-height:		14px;
	background-image:url("../img2/5/radioButton.png");
	background-size: 14px 14px;
	background-repeat: no-repeat;
	background-position: center;
}
_dialog radio:checked
{
	min-width:		14px;
	min-height:		14px;
	background-image:url("../img2/5/radioButtonPressed.png");
	background-size: 14px 14px;
	background-repeat: no-repeat;
	background-position: center;
	/*default displays a black dot here when selected. In CDE we then only see a background*/
	/*(bg_color_1) of the 'active window title' color. So set icon to empty*/
	-gtk-icon-source: url("null.jpg");
}
_dialog menuitem radio 
{
	min-width:		14px;
	min-height:		14px;
	background-image:url("../img2/6/radioButton.png");
	background-size: 14px 14px;
	background-repeat: no-repeat;
	background-position: center;
}
_dialog menuitem radio:checked
{
	min-width:		14px;
	min-height:		14px;
	background-image:url("../img2/6/radioButtonPressed.png");
	background-size: 14px 14px;
	background-repeat: no-repeat;
	background-position: center;
	-gtk-icon-source: url("null.jpg");
}

/*what is this???*/
/*padding gives edge around around gtk3-demo well there it is*/
/*and also around xfce terminal. BUT the actual borders (top right etc)*/
/*oh wait in the terminal it is drawn, but in gucharmap it is not drawn*/
/*other borderstyles are also not drawn (groove/inset)*/
/*but cde terminal has such a border, so keep, adding some of the old day clunkyness*/
_dialog stack 
{
	/*outset (not drawn for mysterious reason)*/
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	border-width:		1px;
	padding:		6px;
}




_dialog notebook,
_dialog notebook header 
{
	background: @bg_gen; 
}
_dialog notebook header tab > label,
_dialog notebook label 
{
	padding: 4px 8px; 
}
/*header on top*/
_dialog notebook header.top tab:not(:checked)
{
	margin: 2px -1px -1px -1px;
	background: @sel_gen; 
	border-style:solid;
	border-width:1px;
	border-top-color:	@ts_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@ts_gen;
}
/*hier*/
_dialog notebook header.top tab:first-child:not(:checked)
{
	margin: 2px -1px -1px 0px;
	background: @sel_gen; 
	border-style:solid;
	border-width:1px;
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@ts_gen;
}

_dialog notebook header.top tab:checked 
{
	/*margin: 0px -1px -2px -1px;*/
	margin: 0px -1px -2px -1px;
	/*box-shadow: inset 0px 3px @bg_gen;*/
	background-color: @bg_gen;
	border-style:solid;
	border-width:1px;
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bg_gen;
}
_dialog notebook header.right tab:not(:checked) 
{
	margin: 0px 2px 0px -1px;
	background-color: @sel_gen;
	border-style:solid;
	border-width:1px;
	border-top-color:	@sel_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
}
_dialog notebook header.right tab:first-child:not(:checked) 
{
	/*margin: 0px 2px -1px -1px;*/
	margin: 0px 2px 0px -1px;
	background-color: @sel_gen;
	border-style:solid;
	border-width:1px;
	border-top-color:	@ts_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
}

_dialog notebook header.right tab:checked 
{
	margin: 0px 0px 0px -1px;
	/*margin: 0 0 -1px -1px;*/
	box-shadow: inset -3px 0 @theme_selected_bg_color;
	/*border-left: 1px solid @bg_gen;*/
	background-color: @bg_gen; 
	border-style:solid;
	border-width:1px;
	border-top-color:	@ts_gen;
	border-left-color:	@bg_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
}
_dialog notebook header.right tab:first-child:checked 
{
	margin: 0px 0px 0px -1px;
	/*margin: 0 0 -1px -1px;*/
	box-shadow: inset -3px 0 @theme_selected_bg_color;
	/*border-left: 1px solid @bg_gen;*/
	background-color: @bg_gen; 
	border-style:solid;
	border-width:1px;
	border-top-color:	@ts_gen;
	border-left-color:	@bg_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
}
_dialog notebook header.bottom tab:not(:checked) 
{
	margin: -1px -1px 2px 0;
	background-color: @sel_gen; 
	border-style:solid;
	border-width:1px;
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
}
_dialog notebook header.bottom tab:checked 
{
	margin: -1px -1px 0 0;
	box-shadow: inset 0 -3px @sel_gen;
	background-color: @bg_gen; 
	border-style:solid;
	border-width:1px;
	border-top-color:	@bg_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
}
_dialog notebook header.left tab:not(:checked) 
{
	margin: 0 -1px -1px 2px;
	background-color: @sel_gen; 
	border-style:solid;
	border-width:1px;
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bg_gen;
	border-bottom-color:	@bs_gen;
}
_dialog notebook header.left tab:checked 
{
	margin: 0 -1px -1px 0;
	box-shadow: inset 3px 0 @sel_bg;
	background-color: @bg_gen;
	border-style:solid;
	border-width:1px;
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bg_gen;
	border-bottom-color:	@bs_gen;
}
/*hier*/
_dialog   notebook > stack:not(:only-child) 
{
	background-color: @bg_gen; 
	border-style:solid;
	border-width:1px;
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
}





XXnotebook {
    border-width: 5px;
    border-style: solid;
    border-color: #ff0000;
    /*background-color: @theme_base_color;*/
    background-color: #fafa00;
     /*depreciated use margins of header*/
     /*room before first and after last tab*/
	/*if this is depreciated.. how then to do it???????fuck and how do i display a simple icon without scaling*/
    /*-GtkNotebook-initial-gap: 10px;*/
    /*-GtkNotebook-has-tab-gap: true;*/
}


_dialog XXtab,
_dialog XXtab button
{
	/*inset*/
	border-top-color:	@sel_gen;
	border-left-color:	@sel_gen;
	border-right-color:	@sel_gen;
	border-bottom-color:	@sel_gen;
	background-color:	@sel_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		3px;
}
_dialog XXtab:checked,
_dialog XXtab:checked button
{
	/*outset*/
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
}



/*3.16 dialog .notebook code here (keep file lines synced)*/
/*thingie around the entire tab thing*/



_dialog XXnotebook.frame
{
	/*background-color:#ff0000;*/
	border-width:1px;
	border-style:solid;
	border-color:#00ff00;
}
/*hier*/
/*the tab headers not the page*/
_dialog XXtab
{
	/*background-color:#ff0000;*/
}

/*_dialog notebook.stack > **/
/*{*/
	/*background-color:#ff0000;*/
/*}*/
/*selects the page*/
_dialog XXnotebook > *
{
	border-style:none;
	/*border-width:0px;*/
}

































/*files in filedialog actual treeview*/
/*on a per line basis*/
_dialog treeview.view
{
	background-color:	@bg_text;
	color:			@fg_text;
}
/*window > treeview.view */
/*hmm more or less random places*/
/*_dialog window > box*/
/*{*/
	/*outset*/
	/*border-top-color:	@ts_gen;*/
	/*border-left-color:	@ts_gen;*/
	/*border-right-color:	@bs_gen;*/
	/*border-bottom-color:	@bs_gen;*/
	/*border-style: 		solid;*/
	/*border-width: 		_borderwidth;*/
/*}*/
/*the 'time' 'size' 'name' buttons above that*/
_dialog treeview.view button 
{
	border-top-color:	@ts_text;
	border-left-color:	@ts_text;
	border-right-color:	@bs_text;
	border-bottom-color:	@bs_text;
	background-color:	@bg_text;
	color:			@fg_text;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		2px;
	padding:		2px 4px 2px 4px;
}
/*for borders this has effect on the calendar thing and ONE other view. the other ones stay flat*/
/*funnyly for the background color it DOES take effect*/
/*aha apparently the calandar is a single text entry thing or somehting. */
/*if this border is drawn eg each line of text in the file browser window gets a separate borderr. */
/*so no drawe border here*/
_dialog *.view
{
	/*inset*/
	/*border-top-color:	@bs_text;*/
	/*border-left-color:	@bs_text;*/
	/*border-right-color:	@ts_text;*/
	/*border-bottom-color:	@ts_text;*/
	background-color:	@bg_text;
	color:			@fg_text;
	border-style: 		solid;
	border-width:		0px;
}
/*so do for calendar separately. text col is wrong why?todo*/
						/*is set below using blabla text see _text*/
/*text color:*/
_dialog calendar,
/*border around the entire thing:*/
_dialog calendar.view
{
	/*inset*/
	border-top-color:	@bs_text;
	border-left-color:	@bs_text;
	border-right-color:	@ts_text;
	border-bottom-color:	@ts_text;
	background-color:	@bg_text;
	color:			@fg_text;
	border-style: 		solid;
	border-width:		_borderwidth;
}
/*special color for icon (file browsers and such)*/
/*=darker normal color instead of the blue (for default Broica.dp palette)*/
_dialog iconview.view {
	/*inset*/
	/*border-top-color:	@bs_gen;*/
	/*border-left-color:	@bs_gen;*/
	/*border-right-color:	@ts_gen;*/
	/*border-bottom-color:	@ts_gen;*/
	background-color:	@sel_gen;
	color:			@fg_gen;
	border-style: 		none;
}
_dialog iconview.view:selected,
_dialog iconview.view:selected:focus,
_dialog iconview.view:active
{
	background-color:	shade(@sel_gen, 0.90);
}

									/*_dialog treeview.view*/
									/*{*/
									/*inset*/
									/*border-top-color:	@bs_gen;*/
									/*border-left-color:	@bs_gen;*/
									/*border-right-color:	@ts_gen;*/
									/*border-bottom-color:	@ts_gen;*/
									/*background-color:	@bg_gen;*/
									/*color:			@fg_gen;*/
									/*border-style: 		solid;*/
									/*border-width:		2px;*/
									/*margin: 2px;*/
									/*}*/

									/*well*/
									/*textview,*/
									/*paned.view,*/
									/*.cell {*/
									    /*background: @bg_color_input;*/
									    /*color: @fg_color_input;*/
									/*}*/

/*lists and such*/
/*but PER CELL so how draw inset around ENTIRE view?*/
_dialog view 
{
	color: 			@fg_text;
	background-color: 	@bg_text;
}
_dialog view:selected
{
	color: 			@fg_text;
	background-color: 	@sel_text;
}



_dialog .sidebar,
_dialog .sidebar view,
_dialog .sidebar > view,
_dialog .sidebar scrolledwindow 
{
	color: 			@fg_text;
	background-color: 	@bg_gen;
	/*color: mix(@theme_fg_color, @theme_bg_color, 0.1);*/
}
_dialog sidebar 
{
	color: 			@fg_text;
	background-color: 	@sel_gen;
}
/*none of these seems to do anything*/
_dialog sidebar:selected,
_dialog sidebar:active,
_dialog sidebar row:selected, 
_dialog sidebar row:selected label
{
	color: 			@fg_text;
	background-color: 	@bs_gen;
}




/*what is this?... look later. from macOS-sierra theme*/
/*_dialog .primary-toolbar combobox entry,*/
/*_dialog .primary-toolbar combobox entry:active,*/
/*_dialog .primary-toolbar combobox entry:focus,*/
/*_dialog .primary-toolbar combobox entry:disabled,*/
/*_dialog  combobox entry,*/
/*_dialog  combobox entry:active,*/
/*_dialog  combobox entry:focus,*/
/*_dialog  combobox entry:disabled {*/
    /*border-width: 1px 0 1px 1px;*/
    /*border-top-right-radius: 0;*/
    /*border-bottom-right-radius: 0;*/
/*}*/


/*causes trouble with displaying images in combobux arrow*/
/*_dialog .primary-toolbar combobox entry button,*/
/*_dialog .primary-toolbar combobox entry button:hover,*/
/*_dialog .primary-toolbar combobox entry button:active,*/
/*_dialog .primary-toolbar combobox entry button:disabled,*/
/*_dialog  combobox button,*/
/*_dialog  combobox button:hover,*/
/*_dialog  combobox button:active,*/
/*_dialog  combobox button:disabled {*/
    /*margin-bottom: 1px;*/
    /*border-width: 1px 1px 1px 1px;*/
    /*border-bottom-left-radius: 0;*/
    /*border-top-left-radius: 0;*/
/*}*/

/*combobox without entry ('option menu') css:*/
/*combobox */
/*├── box.linked*/
/*│   ╰── button.combo*/
/*│       ╰── box*/
/*│           ├── cellview*/
/*│           ╰── arrow*/
/*╰── window.popup*/
/*combobox with entry css:*/
/*combobox*/
/*├── box.linked*/
/*│   ├── entry.combo*/
/*│   ╰── button.combo*/
/*│       ╰── box*/
/*│           ╰── arrow*/
/*╰── window.popup*/
/*in cde there are widgets combobox and optionmenu (like in pre-gtk3)*/
/*The first have a list inside them and are bg_color_5, the second */
/*have a menu and are bg_color_6. Gtk3 has only one kind of combobox*/
/*but there are 2 ways of displaying it: default as menu, and 'as-list'.*/
/*Also there are 2 ways the widget looks: with or without entry. Without*/
/*entry I make into a 'optionmenu', with entry I make into a list*/
/*To differentiate we select the cases in which button is first child:*/
/*Unfortunately it is not possible (afaik) to select the combobox vs */
/*combobox with entry themselves, so I cant make one popup a menu and the other */
/*a list.. damn. I can only select the button and change that. (it */
/*used to be possible pre gtk 3.20 and gtk2, but not anymore*/
/*SO LET BOTH DISPLAY A LIST:*/
_dialog combobox
{
	-GtkComboBox-appears-as-list: 1;
}
/*these ones appear green, like optionmenu in cde */
_dialog combobox button:first-child
{
	border-top-color:	@ts_menu;
	border-left-color:	@ts_menu;
	border-right-color:	@bs_menu;
	border-bottom-color:	@bs_menu;
	background-color:	@bg_menu;
	color:			@fg_menu;
}
/*the beam icon */
_dialog combobox button:first-child arrow
{
	/*actual size is 15x6 but only 15x5 displays sharply*/
	min-width:15px;
	min-height:5px;
	background-image:url("../img2/6/comboBoxBeam.png");
	background-size: 15px 5px;
	background-repeat: no-repeat;
	background-position: center;
}
/*the one with entry:*/
_dialog combobox button
{
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
}

combobox button arrow {
	min-width:17px;
	min-height:19px;
	background-image:url("../img2/5/arrowBeamDown.png");
	background-size: 17px 19px;
	background-repeat: no-repeat;
	background-position: center;
}


/*list of widgets, not list of text items if that makes sense*/
_dialog list {
	background-color: shade(@bg_gen, 0.95);
	color: @fg_gen;
}
_dialog list-row:selected {
	background-color: @sel_gen;
	color: @fg_gen;
}




/*combobox entry, text line thing, spinner number field, search box etc*/
/*all single line I think, so we can put a border inset around*/
/*todo only for spinbutton text has wrong color...*/
/*_dialog spinbutton*/
/*{*/
	/*color:		@fg_text;*/
	/*background-color:		#ff0000;*/
/*}*/
/*tekst +- tekent eroverheen*/
_dialog spinbutton.horizontal button.up,
_dialog spinbutton.vertical button.up
{
	min-width:		11px;
	min-height:		11px;
	background-image:url("../img2/5/spinButtonUp.png");
	background-size: 11px 11px;
	background-repeat: no-repeat;
	background-position: center;
	-gtk-icon-source: url("null.jpg");
	/*there is a +- here dont want. So put color to transparent (bg color will*/
	/*still draw on top)*/
	/*color:@bg_gen;*/
	color:transparent;
}
_dialog spinbutton.horizontal button.up:active,
_dialog spinbutton.vertical button.up:active
{
	min-width:		11px;
	min-height:		11px;
	background-image:url("../img2/5/spinButtonUpPressed.png");
	background-size: 11px 11px;
	background-repeat: no-repeat;
	background-position: center;
	-gtk-icon-source: url("null.jpg");
	/*there is a +- here dont want. So put color to transparent (bg color will*/
	/*still draw on top)*/
	/*color:@bg_gen;*/
	color:transparent;
}
_dialog spinbutton.horizontal button.down,
_dialog spinbutton.vertical button.down
{
	min-width:		11px;
	min-height:		11px;
	background-image:url("../img2/5/spinButtonDown.png");
	background-size: 11px 11px;
	background-repeat: no-repeat;
	background-position: center;
	-gtk-icon-source: url("null.jpg");
	/*there is a +- here dont want. So put color to transparent (bg color will*/
	/*still draw on top)*/
	/*color:@bg_gen;*/
	color:transparent;
}
_dialog spinbutton.horizontal button.down:active,
_dialog spinbutton.vertical button.down:active
{
	min-width:		11px;
	min-height:		11px;
	background-image:url("../img2/5/spinButtonDownPressed.png");
	background-size: 11px 11px;
	background-repeat: no-repeat;
	background-position: center;
	-gtk-icon-source: url("null.jpg");
	/*there is a +- here dont want. So put color to transparent (bg color will*/
	/*still draw on top)*/
	/*color:@bg_gen;*/
	color:transparent;
}

_dialog entry 
{
	/*inset*/
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
	background-color:	@bg_text;
	color:			@fg_text;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		4px;
}
/*selected text entry.selected.focus.selection:focussed:selection selected focussed::.selectified.focus.fuckus*/
/*this is doing nothing wtf...*/
_dialog entry selection,
_dialog entry .selection,
_dialog entry.selection,
_dialog entry selected,
_dialog entry:selected,
_dialog entry:selected:focus
{
	background-color:	@sel_text;
}
/*and this???*/
/*hmm I dont know*/
/*the 'placeholder'text (filled in automatically) appears dark grey. Not white. WHY*/
_dialog entry > *
{
	color:			@fg_text;
}


/*these stacked windows of items like in synaptic*/
_dialog expander arrow {
	min-width: 16px;
	min-height: 16px;
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}
_dialog expander arrow:dir(rtl) {
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}
_dialog expander arrow:checked {
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}


/* Firefox adress bar */
_dialog label.separator {
  color: @bs_text;
}
/*_text*/
/*jolly thnx man macOS-sierra*/
_dialog .view text:selected:focus,
_dialog iconview text:selected:focus,
_dialog textview text:selected:focus,
_dialog .view text:selected,
_dialog iconview text:selected,
_dialog textview text:selected, 
_dialog .view text selection:focus, 
_dialog iconview text selection:focus, 
_dialog .view text selection, 
_dialog iconview text selection,
_dialog textview text selection:focus,
_dialog textview text selection, 
_dialog flowbox flowboxchild:selected, 
_dialog spinbutton:not(.vertical) selection:focus, 
_dialog spinbutton:not(.vertical) selection,
_dialog .view:selected:focus,
_dialog iconview:selected:focus,
_dialog .view:selected,
_dialog iconview:selected,
_dialog entry selection:focus,
_dialog entry selection,
_dialog modelbutton.flat:selected,
_dialog popover.background checkbutton:selected,
_dialog popover.background radiobutton:selected,
_dialog .menuitem.button.flat:selected,
_dialog treeview.view:selected:focus,
_dialog treeview.view:selected,
_dialog row:selected,
_dialog calendar:selected,
semicolondummy
{
	/*its inverted like in the style of olld crt green monitors. But this must only for text to be*/
	background-color: @fg_text;
	color: @bg_text;
}

/*_dialog treeview.view > **/
/*{*/
	/*background-color: 	#ff0000;*/
/*}*/


/*was zum foik ees dees*/
/*in file dialog the lines of wheres the files are*/
_dialog .cell
{
	border-width: 0;
	border-radius: 0;
	background-color: @bg_text;
	color: @fg_text;
	/*this needs to be here for the lines not to overlap:*/
	padding:0px;
}
_dialog .cell:selected,
_dialog .cell:selected:focus {
	background-color: @sel_text;
	color: @fg_text;
}


/*this row is not inside text thingies but .. yes where? normal bg*/
/*in file dialog he side pane onthe left with 'places'*/
_dialog row { 
	padding: 4px;
}
_dialog row:selected,
_dialog row:selected:hover,
_dialog row:selected:focus 
{
	border-style: none;
	border-color: @bs_gen;
	background-color: @sel_gen;
	color: @fg_gen;
}


/*both h and v*/
_dialog scrollbar slider 
{
/*this seems to determine the width of the scrollbar */
/*experimentally verified. I hope the laws of nature dont change the next release of gtk*/
/*this is width WITHOUT border The cde button image is width 11. slider must */
/*be same size so inside width of slider must be 9*/
	min-width: 		9px;
	min-height: 		9px;
	border-top:		_borderwidth solid @ts_gen;
	border-left:		_borderwidth solid @ts_gen;
	border-right:		_borderwidth solid @bs_gen;
	border-bottom:		_borderwidth solid @bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
}
_dialog scrollbar.vertical trough 
{
	/*width of the inside=width of cde button image*/
	min-width:		11px;
	min-height:		11px;
	/*inset*/
	border-top:		0px solid @bs_gen;
	border-bottom:		0px solid @bs_gen;
	border-left:		_borderwidth solid @bs_gen;
	border-right:		_borderwidth solid @ts_gen;
	background-color:	@sel_gen;
	color:			@fg_gen;
}

_dialog scrollbar.vertical button.up 
{
	border-left: 		_borderwidth solid @bs_gen;
	border-top: 		_borderwidth solid @bs_gen;
	border-right:		_borderwidth solid @ts_gen;
	border-bottom: 		0px solid @sel_gen;
	margin:			0px 0px 0px 0px;
	/*the one line format doesnt work??*/
	padding-left:   	0px;
	padding-right:   	0px;
	padding-top:   		0px;
	padding-bottom:   	0px;
	min-height: 		11px;
	min-width: 		11px;
	-gtk-icon-source: url("../img/arrowup.png");
	/*does this actually work : NO*/
	/*-gtk-icon-source: -gtk-recolor(url('../img/arrowup.png'), success blue, error rgb(255,0,0));*/
	/*-gtk-icon-source: -gtk-recolor(url('../img/arrowup.png'));*/
}

_dialog .scrollbar.vertical .button.up:active
{
-gtk-icon-source: url("../img/arrowuppressed.png");
}



_dialog scrollbar.vertical button.down 
{
	border-left: 		_borderwidth solid @bs_gen;
	border-right:		_borderwidth solid @ts_gen;
	border-top: 		0px solid @bs_gen;
	border-bottom: 		_borderwidth solid @ts_gen;
	margin:			0px 0px 0px 0px;
	/*the one line format doesnt work??*/
	padding-left:   	0px;
	padding-right:   	0px;
	padding-top:   		0px;
	padding-bottom:   	0px;
	min-height: 		11px;
	min-width: 		11px;
	-gtk-icon-source: url("../img/arrowdown.png");
}





_dialog scrollbar.vertical button.down:active
{
-gtk-icon-source: url("../img/arrowdownpressed.png");
}



_dialog scrollbar.horizontal trough 
{
	/*width of the inside=width of cde button image*/
	min-width:		11px;
	min-height:		11px;
	/*inset*/
	border-top:		_borderwidth solid @bs_gen;
	border-bottom:		_borderwidth solid @ts_gen;
	border-left:		0px solid @bs_gen;
	border-right:		0px solid @ts_gen;
	background-color:	@sel_gen;
	color:			@fg_gen;
}

_dialog scrollbar.horizontal button.down
{
	border-left: 		0px solid @ts_gen;
	border-top: 		_borderwidth solid @bs_gen;
	border-right:		_borderwidth solid @ts_gen;
	border-bottom: 		_borderwidth solid @ts_gen;
	margin:			0px 0px 0px 0px;
	/*the one line format doesnt work??*/
	padding-left:   	0px;
	padding-right:   	0px;
	padding-top:   		0px;
	padding-bottom:   	0px;
	min-height: 		11px;
	min-width: 		11px;
	-gtk-icon-source: url("../img/arrowright.png");
}




_dialog scrollbar.horizontal button.down:active
{
-gtk-icon-source: url("../img/arrowrightpressed.png");
}




_dialog scrollbar.horizontal button.up
{
	border-left: 		_borderwidth solid @bs_gen;
	border-top: 		_borderwidth solid @bs_gen;
	border-right:		0px solid @ts_gen;
	border-bottom: 		_borderwidth solid @ts_gen;
	margin:			0px 0px 0px 0px;
	/*the one line format doesnt work??*/
	padding-left:   	0px;
	padding-right:   	0px;
	padding-top:   		0px;
	padding-bottom:   	0px;
	min-height: 		11px;
	min-width: 		11px;
	-gtk-icon-source: url("../img/arrowleft.png");
}




_dialog scrollbar.horizontal button.up:active
{
	-gtk-icon-source: url("../img/arrowleftpressed.png");
}




/*for firefox? vrom macos theme*/
_dialog XXscrollbar button
{
	background-color: 	@bg_gen;
	background-color: 	@sel_gen;
}



/*the movable things like scrollbar without scroll area*/
/*this is the thing where the slider sits in*/
_dialog scale trough 
{
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
	background-color:	@sel_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	min-width:		13px;
	min-height:		13px;
}
_dialog scale.horizontal trough
{
	/*prevent slider from sliding across the edge*/
	padding-left:		15px;
	padding-right:		15px;
}
_dialog scale.vertical trough
{
	/*prevent slider from sliding across the edge*/
	padding-top:		15px;
	padding-bottom:		15px;
}
_dialog scale slider 
{
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
}
/*set the sliders to elongated rectangle ,similar to cde (default is square)*/
/*slider determines the width of the scale (height for horizontal)*/
/*NOTE transparent png here seems to be rendered differently from scrollbar button:*/
/*opacity is 48 there. Here the shadow color is renderend lighter*/
/*so make less transparent*/
_dialog scale.horizontal slider
{
	min-width:		28px;
	min-height: 		11px;
	background-image:url("../img/sliderseparatorvertical.png");
	background-repeat: no-repeat;
	background-position: center;
	/*aha, here overlay DOES work, unlike in scrollbar. So use normal*/
	/*that seems to be closest to the shadow/hilight colors calculated in cde/motif*/
	/*background-blend-mode: overlay;*/
}
_dialog scale.vertical slider
{
	min-height:		28px;
	/*INTERNAL width. With border around that of 1 px, for the total */
	/*width to be 13 (fit in trough) this as to be 11:*/
	min-width: 		11px;
	background-image:url("../img/sliderseparatorhorizontal.png");
	background-repeat: no-repeat;
	background-position: center;
	/*background-blend-mode: overlay;*/
	/*-gtk-icon-source: url("../img/sliderseparatorvertical.png");*/
}

_dialog scale.mark
{
	background-color:	@bs_gen;
	color:			@bs_gen;
	min-height:		4px;
	min-width:		_borderwidth;
}

_dialog scale.horizontal mark 
{
	background-color: 	@bs_gen;
	min-height:		4px;
	min-width:		_borderwidth;
}


_dialog scale.vertical mark 
{
	background-color: 	@bs_gen;
	min-height:_borderwidth;
	min-width:4px;
}

_dialog tooltip 
{
	background-color: 	@sel_gen;
	border-color: 		@bg_hi;
	border-style: 		solid;
	border-width: 		2px; 
}

/*what is this supposed to be. Fake window title?? I have a window manager*/
/*this sucks*/
_dialog headerbar 
{
	border-top-color:	@ts_hi;
	border-left-color:	@ts_hi;
	border-right-color:	@bs_hi;
	border-bottom-color:	@bs_hi;
	background-color:	@bg_hi;
	color:			@fg_hi;
	border-style: 		solid;
	border-width: 		_borderwidth;
	border-width: 		2px;
	padding:		2px;
}
_dialog .header-bar *,
_dialog headerbar button
{
	border-width:		0px;
	background-color:	@bg_hi;
	color:			@fg_hi;
}
/*some of the bg_gen show through so*/
_dialog headerbar *,
_dialog headerbar *:active,
_dialog headerbar *:checked,
_dialog headerbar *:hover
{
	background-color:	@bg_hi;
	color:			@fg_hi;
}


/*hmmm thnx macos sierra*/
menu menuitem arrow,
.menu menuitem arrow,
_dialog .context-menu .menuitem arrow 
{ 
	 min-height: 16px;
	 min-width: 16px;
}
/* now set the appropriate icons */
_dialog menu menuitem arrow:dir(ltr),
_dialog .menu menuitem arrow:dir(ltr),
_dialog .context-menu menuitem arrow:dir(ltr) 
{
	 /*-gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); */
	-gtk-icon-source: url("../img/menuarrowright.png");
	 margin-left: 10px; 
}





_dialog menu menuitem:hover arrow:dir(ltr),
_dialog .menu menuitem:hover arrow:dir(ltr),
_dialog .context-menu menuitem:hover arrow:dir(ltr)
{
	 /*-gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); */
	-gtk-icon-source: url("../img/menuarrowrightpressed.png");
	 margin-left: 10px; 
}
_dialog menu menuitem:hover arrow:dir(rtl),
_dialog .menu menuitem:hover arrow:dir(rtl),
_dialog .context-menu menuitem:hover arrow:dir(rtl) 
{
	 /*-gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); */
	-gtk-icon-source: url("../img/menuarrowleftpressed.png");
	/*-gtk-icon-source: url("../img/arrowright.png");*/
	 margin-left: 10px; 
}


/*small progressbar in entry behind text??*/
/*did pop up in totally random places (ie button and scrollbarbutton of oppup message)*/
_dialog entry progress
{
	border-width: 1px;
	border-color:#ffffff;
	box-shadow: none;
	background-color: @bg_gen;
	color: @fg_gen;
}


/*special case inside text area. but how to do this generally? cant enter every special case*/
_dialog treeview.view check
{
	border-top-color:	@bs_text;
	border-left-color:	@bs_text;
	border-right-color:	@ts_text;
	border-bottom-color:	@ts_text;
	color:			@fg_text;
	border-style: 		solid;
	border-width: 		_borderwidth;
	background-color:	@sel_text;
}
/*little progressbar in tranmission ie a prog bar inside a text line*/
_dialog treeview.view.progressbar
{
/*inset*/
	border-top-color:	@bs_text;
	border-left-color:	@bs_text;
	border-right-color:	@ts_text;
	border-bottom-color:	@ts_text;
	border-style: 		solid;
	border-width: 		_borderwidth;
	background-color:	@sel_text;
	color:			@fg_text;
}
							/*hmm these 2 dont seem to do anything*/
							/*_dialog treeview.view.progressbar trough */
							/*{*/
								/*inset*/
								/*border-top-color:	@bs_text;*/
								/*border-left-color:	@bs_text;*/
								/*border-right-color:	@ts_text;*/
								/*border-bottom-color:	@ts_text;*/
								/*border-style: 		solid;*/
								/*border-width: 		_borderwidth;*/
								/*background-color:	@bg_gen;*/
							/*}*/
							/*_dialog treeview.view.progressbar progress*/
							/*{*/
								/*inset*/
								/*border-top-color:	@bs_text;*/
								/*border-left-color:	@bs_text;*/
								/*border-right-color:	@ts_text;*/
								/*border-bottom-color:	@ts_text;*/
								/*border-style: 		solid;*/
								/*border-width: 		_borderwidth;*/
								/*background-color:	@bg_gen;*/
							/*}*/



/*progressbar:*/
	/*area for displayed percentage*/
	/*area for trough:*/
		/*progress (formerly the 'slider'?)*/
/*#############################*/
/*#	   50                #*/
/*#############################*/
/*#PPPPPPPPPP##################*/
/*#############################*/
/*Note that there are 2 nested borders: progresbar border with trough border inside*/
/*so dont draw border around entire progressbar, only around trough*/
/*progress percentage will then appear 'outside'*/
_dialog progressbar
{
	border-style: 		none;
	border-width: 		_borderwidth;
	background-color:	@bg_gen;
	color:			@fg_gen;
}
/*the part where the sliding thing is sliding in*/
_dialog progressbar trough 
{
	/*inset*/
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	background-color:	@sel_gen;
	/*this is the INTERNAL width. Border is drawn around*/
}
/*sometimes the vertical bar displayed as a little square.. so set minimal width/height*/
_dialog progressbar.horizontal trough
{
	min-width:		40px;
	min-height:		13px;
}
_dialog progressbar.vertical trough
{
	min-width:		13px;
	min-height:		40px;
}
/*this is the thing that grows as progress increases, inside the trough.*/
/*In cde this is a simple color field with color sel_color_5*/
_dialog progressbar progress
{
	border-style: 		none;
	border-width: 		10px;
	background-color:	@bg_gen;
	min-width:		13px;
	min-height:		13px;
}



_dialog separator.vertical 
{
        margin: 0px;
        padding: 0px;
        border-left: _borderwidth solid @bs_gen;
        border-right: _borderwidth solid @ts_gen;
}



_dialog separator.horizontal 
{
        margin: 0px;
        padding: 0px;
        border-top: _borderwidth solid @bs_gen;
        border-bottom: _borderwidth solid @ts_gen;
}
/*movable separator between widgets eg like between the gimp tools*/
_dialog XXpaned > separator 
{
	min-width: 1px;
	min-height: 1px;
        margin: 0px;
        padding: 0px;
	border-width: _borderwidth;
	border-width: 1px;
	/*this sucks how do i set the shade and hilight color manually?*/
	/*border-color: shade(@bg_gen,0.80);*/
	/*border-style: groove;*/
        border-right: _borderwidth solid @bs_gen;
        border-left: _borderwidth solid @ts_gen;
        border-top: _borderwidth solid @ts_gen;
        border-bottom: _borderwidth solid @bs_gen;
}
_dialog XXpaned.vertical > separator {
	/*simply display a couple of lines for me  please, without antialias-scalingrotating coloring bla.. but no*/
	/*simple lines wont display*/
        /*border-top: 0.5 solid @ts_gen;*/
        /*border-bottom: _borderwidth solid @bs_gen;*/
        /*border-right: _borderwidth solid @bs_gen;*/
        /*border-left: _borderwidth solid @ts_gen;*/
	/*we are lucky this works*/
	/*handleSeparatorHorizontal is sizd 16x10, with 2px line in the center and rest is transparent*/
	/*Way to get single line in the center, with margin + room for center handlebutton*/
	background-image:	url("../img2/5/handleButton.png"),	url("../img2/5/handleSeparatorHorizontal.png");
	background-repeat: 	no-repeat, 				repeat;
	background-size: 	7px 6px, 				16px,10px;
	background-position: 	center,					center;
	/*BRRR gtk3 just cant simply display an image properly. The handlebutton is 7x7, but if I set its*/
	/*size to 7x7, it is blurred. When I set it to 7x6 it is NOT BLURRED (but wrong size)!!! WHYYYYYY???*/
	/*set height a bit smaller than the image, otherwise we see repeated in the y direction*/
	/*(we only want line in x direction)*/
	min-height:8px;
}
_dialog paned.vertical > separator {
	background-image:	url("../img2/5/handleButton.png"),	url("../img2/5/handleSeparatorHorizontal.png");
	background-repeat: 	no-repeat, 				repeat;
	background-size: 	6px 6px, 				16px,10px;
	background-position: 	center,					center;
	min-height:8px;
}
_dialog paned.horizontal > separator {
	background-image:	url("../img2/5/handleButton.png"),	url("../img2/5/handleSeparatorVertical.png");
	background-repeat: 	no-repeat, 				repeat;
	background-size: 	6px 6px, 				10px,16px;
	background-position: 	center,					center;
	min-width:8px;
}

/*this apparently is a frame around the actual frame. hahaha ??*/
/*_dialog frame */
/*{*/
/*inset*/
/*border-top-color:	@bs_gen;*/
/*border-left-color:	@bs_gen;*/
/*border-right-color:	@ts_gen;*/
/*border-bottom-color:	@ts_gen;*/
/*outset*/
/*border-top-color:	@ts_gen;*/
/*border-left-color:	@ts_gen;*/
/*border-right-color:	@bs_gen;*/
/*border-bottom-color:	@bs_gen;*/
/*background-color:	@bg_gen;*/
/*color:			@fg_gen;*/
/*border-style: 		solid;*/
/*border-width: 		_borderwidth;*/
/*padding:		4px;*/
/*}*/


/*frameStandAlone.png*/

_dialog frame > border {
	border-width: _borderwidth;
	border-style: solid;
	/*this sucks how do i set the shade and hilight color manually?*/
	/*border-color: shade(@bg_gen,0.80);*/
	border-color: #ff0000;
	border-right-color:	@bs_gen;

	border-width:4px;
	border-image: url("../img2/5/frameStandAlone.png") 4 4 4 4;
}

_dialog frame.flat > border,
_dialog frame > border.flat,
_dialog statusbar frame > border {
	border: none;
}



/*was zum fook is this?*/
/*make id red for now so maybe find out some nice day*/
_dialog scrolledwindow frame {
	border-width: _borderwidth;
	border-style: solid;
	border-color: shade(@bg_gen,0.80);
	/*border-color: #ff0000;*/
}
 /*avoid double borders when a viewport is*/
 /*packed into a scrolledwindow */
scrolledwindow viewport frame {
	border-style: none;
}
/*THIS IS IT THE FRECKING FRAME AROUND LISTS AND SUCH!*/
/*needs margin !!*/
/*see also .view*/
_dialog scrolledwindow {
	border-style:		solid;
	border-top-width: 	_borderwidth;
	border-bottom-width: 	_borderwidth;
	border-left-width: 	_borderwidth;
	border-right-width: 	_borderwidth;
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
	border-width:		1px;
	margin:			1px;
}





/*scrolledwindow treeview {*/
    /*background: @bg_color_input;*/
/*}*/

/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/


/*what is this*/
_dialog viewport 
{
	/*outset*/
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	/*inset*/
	border-top-color:	@bs_gen;
	border-left-color:	@bs_gen;
	border-right-color:	@ts_gen;
	border-bottom-color:	@ts_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		4px;
}

/*kind of clock like wait animation*/
_dialog spinner 
{
	color: 			@fg_gen;
}
_dialog spinner:checked 
{
	color: 			@fg_gen;
}

/*small thingsies like tooltip but with buttons etc inside*/
/*these ar kind of dialogs*/
/*_dialog popover,*/
/*_dialog popover.background */
/*_dialog popover **/
/*{*/
	/*border-color: 		@bs_gen;*/
	/*border-style:		solid;*/
	/*border-width:		_borderwidth;*/
	/*background-color:	#ff0000;*/
/*}*/
/*_dialog popover separator */
/*{*/
	/*margin: 		4px;*/
	/*min-width:		_borderwidth;*/
	/*min-height:		_borderwidth;*/
	/*background-color: 	@bs_gen;*/
/*} */
/*button inside the text cloud like in comic books (god why)*/
/*modelbutton,*/
/*modelbutton.background,*/
/*modelbutton.flat*/
/*{*/
	/*background-color:	#ff0000;*/
/*}*/


/*what?*/
_dialog infobar 
{
	/*outset*/
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		4px;
}

_dialog stacksidebar viewport 
{
	border-width:		_borderwidth; 
	border-style:		solid;
	border-color:		@ts_gen;
	background-color:	@bg_gen;
}
_dialog stacksidebar row 
{
	padding: 		3px;
	background-color: 	@bg_gen;
}
_dialog stacksidebar row:selected 
{
	color: 			@fg_gen;
	background-color: 	@sel_gen;
}
_dialog stacksidebar row:selected label 
{
	color: 			@fg_gen;
}


_dialog assistant sidebar label 
{
	padding: 		4px 2px 4px 2px;
}
_dialog assistant sidebar label.highlight 
{
	background-color: 	@sel_gen; 
	color:			@fg_gen;
}
_dialog assistant sidebar 
{
	border-width:		_borderwidth;
	border-style:		solid;
	border-color:		@bs_gen;
}






/*an on-off switch*/
/*.switch*/
/*_dialog GtkSwitch*/
_dialog switch
{
	/*outset*/
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@bg_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		0px;
}
/*.switch .slider*/
/*text not visible*/
_dialog switch slider
{
	border-top-color:	@ts_gen;
	border-left-color:	@ts_gen;
	border-right-color:	@bs_gen;
	border-bottom-color:	@bs_gen;
	background-color:	@sel_gen;
	color:			@fg_gen;
	border-style: 		solid;
	border-width: 		_borderwidth;
	padding:		0px;
}


/*this dosnt work at all todo*/
/*****************
 * color chooser *
 *****************/
_dialog colorswatch,
_dialog colorswatch:selected {
	border-width: _borderwidth;
	border-style: solid;
	border-color: alpha(black, 0.1);
	background-color: transparent;
	background-clip: border-box;
}

_dialog colorswatch:hover,
_dialog colorswatch:selected:hover {
    border-color: alpha(black, 0.3);
}

_dialog colorswatch.color-dark:hover {
}

_dialog colorswatch.color-light:hover {
}

_dialog colorswatch.color-light:selected:hover,
_dialog colorswatch.color-dark:selected:hover {
    background-image: none;
}

/*_dialog colorswatch left,*/
/*_dialog colorswatch:first-child {*/
    /*border-top-left-radius: 2px;*/
    /*border-bottom-left-radius: 2px;*/
/*}*/

/*_dialog colorswatch right,*/
/*_dialog colorswatch:last-child {*/
    /*border-top-right-radius: 2px;*/
    /*border-bottom-right-radius: 2px;*/
/*}*/

/*_dialog colorswatch:only-child {*/
    /*border-radius: 4px;*/
/*}*/

/*_dialog colorswatch top {*/
    /*border-top-left-radius: 2px;*/
    /*border-top-right-radius: 2px;*/
/*}*/

/*_dialog colorswatch bottom {*/
    /*border-bottom-left-radius: 2px;*/
    /*border-bottom-right-radius: 2px;*/
/*}*/

_dialog colorchooser #add-color-button {
    background-clip: padding-box;
    border-color: alpha(black, 0.1);
    background-color: shade(@bg_gen, 0.95);
    color: @fg_gen;
}

_dialog colorchooser #add-color-button:hover {
    border-color: alpha(black, 0.3);
    background-color: shade(@bg_gen, 0.90);
    color: @fg_gen;
}








/*GtkStack - toplevel in gtk3-widget-fact*/

/*combobox menu*/

/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/
/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/
/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/
